.mobile-nav {
    height: 50px;
    padding: 0 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 10px -10px #888;
    font-size: 1.6em;
    color: #333;
}

.nav-buttons {
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.8em;
}

.nav-buttons > span {
    cursor: pointer;
}

.nav-buttons > span:hover {
    color: #000;
}

.mobile-active-user {
    font-size: 0.6em;
}

.search-button {
    width: 50px;
    border: 1px solid #888;
    border-radius: 4px;
    padding: 5px 0;
    box-shadow: inset 0 0 4px #888;
    transition: box-shadow 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    box-shadow: inset 0 0 4px #010101;
}

.mobile-search-container {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s;
}

.mobile-search-container.visible {
    max-height: 500px;
}

.results-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.results-scroll {
    display: flex;
    align-items: center;
}

.search-result {
    box-sizing: border-box;
    display: inline-block;
    width: 50%;
    border: 1px solid black;
}

.search-result > span {
    display: block;
}